.header {
    height: 400px;
    width: 100%;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 10px solid var(--desaturated-color);
}

.title {
    color: var(--main-color-text);
    font-size: 36px;
    letter-spacing: 3px;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 18px;
}

.button {
    color: var(--bright-color);
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
}


